:root{
    --grey:#E7E7E7;
    --black:#000000;
    --red:#FF0000;
    --blue:#0500FF;
    --green:#42FF00;
    --white:#ffffff;
    --shadow:rgba(0, 0, 0, 0.25);
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color:var(--black);
    height: 135px;
    display: flex;
    align-items: center;
}
.scrolled{
    list-style: none;
    position: fixed;
    float: left;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100px;
    border-right: 1px #D7DBDD;
    background-color: var(--black);
    padding:0 40px 0 20px ;
}
.navbar__container{
    width: 100%;
    max-width: 1000px;
    margin: 0 200px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    padding-right: 300px;
}
.navbar__item{
    font-size: 36px;
    display: flex;
    padding-top: 25px;
}

.navbar__link{
    color: var(--white);
    text-decoration: none;
    height: 100%;
}
.about{
    position: relative;
    padding: 0 228px;
}
.header{
    padding-top: 45px;
    text-align: center;
}
.about__text{
    padding:45px 0 0 0;
    font-size: 18px;
}
.about__image{
    display: block;
    width:50%;
    height: 400px;
}
.about__imgOne{
    position: relative;
}

.about__imgTwo{
    position: relative;
    left: 247px;
    bottom: 280px;
}
.about__imgThree{
    position: relative;
    left: 494px;
    bottom: 560px;
}
.about__img4{
    float:right;
    padding-top: 45px;
    height: 50px;
}
.about__second{
    padding-top: 100px;
    height: 900px;
}
.about__third{
    margin-top: 0;
    padding-top: 0;
}

#otherPage{
    background-image: url("./images/image 5.png");
    margin: 90px;
}
.eclipse{
    padding-bottom: 81px;
    width: 800px;
}
.eclipse__container{
    display: flex;
    flex-wrap: wrap;
}
.eclipse__item {
    margin: 25px;
    border-radius: 520px;
    width: 120px;
    height: 120px;
    background-color: var(--grey);
}
.two{
    background-color: var(--black);
}
.three{
    background-color: var(--red);
}
.four{
    background-color: var(--blue);
}
.shadow{
    box-shadow: 0 8px 4px var(--shadow);
}
.box1{
    border: 1px solid #000000;
    background-color: var(--white);
    border-radius: 23px;
    padding: 0 81px;
}
.box__text p{
    padding-top: 33px;
}
.box__table{
    padding: 50px 0;
}
#companies{
    border-collapse: collapse;
    width: 100%;
}
#companies td{
    border: 1px solid #ddd;
    padding: 8px;
}
#companies tr:nth-child(even){background-color: var(--grey);}
.box2{
    padding-top: 80px;
}
.box2__container{
    border: 1px solid var(--black);
    background-color: var(--white);
    border-radius: 23px;
    padding-bottom: 70px;
}
.box2__list{
    padding-top: 69px;
    padding-left: 78px;
}
.box2__list ul{
    padding-left: 17px;
}
.box2__list ul{
    padding-left: 17px;
}
.box2__list ol{
    padding-left: 17px;
}
.box3{
    padding-top: 81px;
}

.box3 div{
    border: 1px solid #000000;
    border-radius: 23px;
}
.box3__text{
    padding: 127px;
    background-color: var(--white);
}
.box3__text h1{
    padding: 0;
}
.border{
    padding: 47px;
}
.borderOne{
    background-color: var(--red);
}
.borderTwo{
    background-color: var(--blue);
    padding: 57px;
}
.borderThree{
    background-color: var(--green);
}